<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <link rel="stylesheet" href="stylesTW.css">
    <title>Game Overlay</title>
  </head>
  <body class="m-0 h-screen font-['Roboto'] text-base text-[#e6e6e6] bg-gradient-to-b from-[#5947E9] to-[#7632F1]">
    <div class="flex flex-col justify-center items-center p-5">
      <div class="relative flex flex-col mb-2.5">
        <div class="flex flex-nowrap rounded-md overflow-hidden cursor-default z-10">
          <div class="flex items-center px-5 py-1 bg-[#00000080]">Window to overlay</div>
          <div class="w-0.5 h-0.5"></div>
          <div id="window" class="flex items-center px-5 py-1 bg-[#00000080] cursor-pointer transition-colors hover:bg-[#423a83] active:bg-[#585191]">--None--</div>
          <div class="w-0.5 h-0.5"></div>
          <img id="refresh" class="flex items-center p-1 cursor-pointer transition-colors bg-[#00000080] hover:bg-[#423a83] active:bg-[#585191]" src="./refresh_24dp_E3E3E3_FILL0_wght400_GRAD0_opsz24.svg" alt="refresh"/>
        </div>
        <div class="absolute w-full">
          <div id="fake-height" class="relative invisible min-h-6 flex items-center px-5 py-1">--None--</div>
          <div id="window-options" class="relative top-0.5 right-0 flex flex-col py-2.5 rounded-md bg-[#2d2475] z-20" style="display: none">
          </div>
        </div>
      </div>
      <div class="flex flex-col mb-2.5">
        <div class="flex flex-nowrap rounded-md overflow-hidden cursor-default">
          <div class="flex items-center px-5 py-1 bg-[#00000080]">Delay between screenshots</div>
          <div class="w-0.5 h-0.5"></div>
          <input id="delay" type="text" class="text-center font-['Roboto'] text-base text-[#e6e6e6] border-0 transition-colors flex items-center w-16 px-5 py-1 bg-[#00000080] hover:bg-[#423a83] focus:outline-none" value="2">
          <div class="w-0.5 h-0.5"></div>
          <div class="flex items-center px-5 py-1 bg-[#00000080]">s</div>
        </div>
      </div>
      <div class="flex flex-col mb-2.5">
        <div class="flex flex-col flex-nowrap cursor-default">
          <div class="flex flex-auto justify-center items-center px-5 py-1 bg-[#00000080] rounded-t-md">Overlay shortcuts</div>
          <div class="w-0.5 h-0.5"></div>
          <div class="flex flex-nowrap">
            <input type="text" class="flex-initial text-center font-['Roboto'] text-base text-[#e6e6e6] border-0 transition-colors flex items-center w-36 px-5 py-1 bg-[#00000080] hover:bg-[#423a83] focus:outline-none" value="Alt + Shift + Y">
            <div class="w-0.5 h-0.5"></div>
            <div class="flex flex-auto items-center px-5 py-1 bg-[#00000080]">Open Yomitan settings</div>
            <div class="w-0.5 h-0.5"></div>
            <div id="open-yomitan" class="flex justify-center items-center p-1 cursor-pointer filter-none transition-colors transition-[filter] bg-[#00000080] hover:brightness-125 hover:bg-[#423a83]">
              <img class="w-6 h-6" src="../yomitan/images/icon32.png" alt="yomitan settings" />
            </div>
          </div>
          <div class="w-0.5 h-0.5"></div>
          <div class="flex flex-nowrap">
            <input type="text" class="flex-initial text-center font-['Roboto'] text-base text-[#e6e6e6] border-0 transition-colors flex items-center w-36 px-5 py-1 bg-[#00000080] hover:bg-[#423a83] focus:outline-none" value="Alt + Shift + Q">
            <div class="w-0.5 h-0.5"></div>
            <div class="flex flex-auto items-center px-5 py-1 bg-[#00000080]">Close overlay</div>
          </div>
          <div class="w-0.5 h-0.5"></div>
          <div class="flex flex-col relative">
            <div class="flex flex-nowrap rounded-b-md overflow-hidden z-10">
              <input type="text" class="flex-initial text-center font-['Roboto'] text-base text-[#e6e6e6] border-0 transition-colors flex items-center w-36 px-5 py-1 bg-[#00000080] hover:bg-[#423a83] focus:outline-none" value="Shift">
              <div class="w-0.5 h-0.5"></div>
              <div id="open-type" class="flex-initial w-36 flex justify-center items-center px-5 py-1 bg-[#00000080] cursor-pointer transition-colors hover:bg-[#423a83] active:bg-[#585191]">Always active</div>
              <div class="w-0.5 h-0.5"></div>
              <div class="flex-auto flex items-center px-5 py-1 bg-[#00000080]">to show overlay</div>
            </div>
            <div class="absolute w-full">
              <div class="relative invisible min-h-6 flex items-center px-5 py-1">Toggle</div>
              <div id="open-type-options" class="relative top-0.5 left-0 flex flex-col py-2.5 rounded-md bg-[#2d2475] z-20" style="display: none">
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="flex flex-col mb-2.5">
        <div id="start-overlay" class="flex flex-nowrap rounded-md overflow-hidden cursor-default bg-[#00000080] cursor-pointer transition-colors hover:bg-[#423a83] active:bg-[#585191]">
          <div class="flex items-center px-5 py-1">Start overlay</div>
        </div>
      </div>
    </div>
    <script>
      const openTypes = [
        { id: 0, title: 'Always active' },
        { id: 1, title: 'Toggle' },
        { id: 2, title: 'Hold' },
      ];
      
      let openTypeOptions = null;
      window.onload = () => {
        openTypeOptions = document.getElementById('open-type-options');
        openTypeOptions.innerHTML = '';
        openTypes.forEach(t => {
          const div = document.createElement('div');
          div.addEventListener('click', (event) => {
            selectedOpenType = t;
            document.getElementById('open-type').innerText = t.title;
          });
          div.className = 'px-5 py-1 rounded text-sm cursor-pointer hover:bg-[#423a83]';
          div.innerText = t.title;
          openTypeOptions.appendChild(div);
        });
      };
      
    
      let selectedWindow = { id: -1, title: '--None--', owner: '--None--' };
      let selectedOpenType = { id: 0, title: 'Always active' };
    
      document.getElementById('start-overlay').addEventListener('click', () => {
        const delay = document.getElementById('delay').value;
        window.electronAPI.startOverlay({ windowId: selectedWindow.id, delay, openTypeId: selectedOpenType.id });
      });
      document.getElementById('refresh').addEventListener('click', (event) => {
        event.stopPropagation();
        window.electronAPI.refreshWindows();
      });
      document.getElementById('open-yomitan').addEventListener('click', () => {
        window.electronAPI.openYomitan();
      });
      
      let isWindowOptionsOpen = false;
      let isOpenTypeOptionsOpen = false;
      document.getElementById('window').addEventListener('click', (event) => {
        event.stopPropagation();
        if(isWindowOptionsOpen) {
          document.getElementById('window-options').style.display = 'none';
          isWindowOptionsOpen = false;
        } else {
          document.getElementById('window-options').style.display = 'flex';
          isWindowOptionsOpen = true;
        }
      });
      document.getElementById('open-type').addEventListener('click', (event) => {
        event.stopPropagation();
        if(isOpenTypeOptionsOpen) {
          document.getElementById('open-type-options').style.display = 'none';
          isOpenTypeOptionsOpen = false;
        } else {
          document.getElementById('open-type-options').style.display = 'flex';
          isOpenTypeOptionsOpen = true;
        }
      });
      document.addEventListener('click', (event) => {
        document.getElementById('window-options').style.display = 'none';
        isWindowOptionsOpen = false;
        document.getElementById('open-type-options').style.display = 'none';
        isOpenTypeOptionsOpen = false;
      });
    </script>
    <script src="./renderer.js"></script>
  </body>
</html>